.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
    width: 95%;
    margin-left: 2.5%;
  }
  
  .title-col {
    flex: 0 0 100px !important;
    white-space: unset !important;
  }

  .button-row .add:hover{
    color: blue;
    background: white;
  }
  
  .button-row {
    margin: 10px 15px;
  }